@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,300;1,400&family=Fuggles&family=Merriweather+Sans&family=Mulish&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;1,100&family=Space+Mono&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
